@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Font notes:
	| Font                                   | Title |Heading| Stats | Notes                               |
	|----------------------------------------|-------|-------|-------|-------------------------------------|
	| bocuma.angle-brk.ttf                   |   N   |   N   |   N   |                                     |
	| CGFLocustResistance.ttf                |   N   |   N   |   Y   | Wide, no special chars like "/"     |
	| closeness.bold.ttf                     |   Y   |   Y   |   m   | Clean/Simple, numbers unclear       |
	| Compacta.woff2                         |   Y   |   Y   |   N   | Narrow                              |
	| fyodor.bold.ttf                        |   N   |   Y   |   N   |                                     |
	| Geizer.otf                             |   Y   |   N   |   N   | Small                               |
	| gomarice_no_continue.ttf               |   Y   |   N   |   N   |                                     |
	| gomarice_goma_octagon.ttf              |   Y   |   N   |   Y   |                                     |
	| gomarice_tall_block.ttf                |   Y   |   N   |   N   | Narrow                              |
	| GovtAgentBB.ttf                        |   Y   |   Y   |   Y   |                                     |
	| Jacinto.otf                            |   Y   |   N   |   Y   | Wide                                |
	| KirstyBold.otf                         |   Y   |   N   |   M   | Western-like                        |
	| Long_Shot.ttf                          |   Y   |   N   |   N   | Thin and angular                    |
	| no-continue.regular.ttf                |   Y   |   N   |   N   |                                     |
	| Origicide.ttf                          |   Y   |   N   |   N   |                                     |
	| owners.regular.ttf                     |   Y   |   N   |   N   | Blocky                              |
	| ProtoSans40.otf                        |   Y   |   Y   |   Y   | Right angles, pretty good, CCCP     |
	| Quantico-Regular.ttf                   |   N   |   Y   |   Y   | Not bold                            |
	| Sector-034.woff2                       |   Y   |   N   |   Y   | Large                               |
	| spectrashell.regular.otf               |   Y   |   N   |   N   | Narrow & Small                      |
	| suggested.regular.ttf                  |   Y   |   N   |   M   | Angled/Metal                        |
	| vipnagorgialla.bold.otf                |   Y   |   Y   |   Y   | Kinda wide, too wide for Unit names |
	| WarunaRegular.ttf                      |   Y   |   N   |   N   |                                     |
	| Younger_than_me.ttf                    |   Y   |   N   |   Y   | Slight Drip                         |
	| zeroes.three-regular.otf               |   M   |   Y   |   Y   | Thin & Clear, Solid                 |
	|GOOGLE FONTS------------------------------------------------------------------------------------------|
	| Chakra_Petch/ChakraPetch-Bold.ttf      |       |       |       |                                     |
	| Goldman/Goldman-Bold.ttf               |   y   |   y   |   Y   | Wide                                |
	| Keania_One/KeaniaOne-Regular.ttf       |   N   |   N   |   N   | Stenciled, not great                |
	| Oxanium/Oxanium-VariableFont_wght.ttf  |   y   |   y   |   y   | Fine but a little bland             |
	| Quantico/Quantico-Bold.ttf             |   y   |   y   |   y   | Fine but a little bland             |
	| Russo_One/RussoOne-Regular.ttf         |   Y   |   Y   |   Y   |                                     |
	| Tektur/Tektur-VariableFont_wdthwght.ttf|   Y   |   Y   |   Y   | Solid, a little sporty, weight 700  |
	| Tomorrow/Tomorrow-Bold.ttf             |   Y   |   Y   |   Y   | Solid, many variants                |

	Waruna is good for game title but not headings or stats
	Geizer is nice but scaled small, solid for game title and stats, but not headings

*/

@font-face {
  font-family: 'title';
  src: url('/fonts/Russo_One/RussoOne-Regular.ttf');
	/*src: url('/fonts/Rajdhani-Bold.ttf');*/
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'heading';
  /*src: url('/fonts/Russo_One/RussoOne-Regular.ttf');*/
	src: url('/fonts/Rajdhani-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'stat';
  /*src: url('/fonts/Russo_One/RussoOne-Regular.ttf');*/
	src: url('/fonts/Rajdhani-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'main';
  /*src: url('/fonts/Oswald.ttf');*/
	src: url('/fonts/Rajdhani-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: theme('colors.background.DEFAULT');
	background-size: 100%;
  color: theme('colors.foreground.DEFAULT');
  @apply font-main;
}

/* Visual layout debugger */
/*
* {
  outline: 1px solid rgba(255, 0, 0, 0.2);
}
	*/

.grunge {
  /* Grunge/stamp style */
	mask-image: url('/img/ui/grunge_sm.png');
	-webkit-mask-image: url('/img/ui/grunge_sm.png');
	mask-size: 300px 300px;
	-webkit-mask-size: 300px 300px;
	mix-blend-mode:alpha;
}

.hastip_disabled::after {
	/*content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox=\'0 0 24 24\'><circle cx=\'12\' cy=\'12\' r=\'10\' stroke=\'currentColor\' stroke-width=\'2\' fill=\'none\'/><text x=\'12\' y=\'16\' text-anchor=\'middle\' font-family=\'serif\' font-size=\'12\' fill=\'currentColor\'>i</text></svg>');*/
	/*width: 0.8em;*/
	/*height: 0.8em;*/

  content: 'ⓘ'; /* or any symbol like ⓘ or ℹ️ */
  font-size: 0.8em; /* smaller size for superscript look */
	
  display: inline;
  vertical-align: super; /* position it like <sup> */
  margin-left: 0.2em; /* small spacing */
  color: inherit; /* inherits current text color */
  opacity: 0.6; /* slightly faded like typical info icons */
  cursor: pointer; /* optional: shows pointer on hover */
	font-style: normal; /* remove other styles like italics */
}

.stat {
  @apply font-stat uppercase;
  font-weight: normal;
}

h1 {
  @apply uppercase text-5xl font-title text-main grunge;
  color: theme('colors.foreground.DEFAULT');
}

h2, h3, h4, h5, h6 {
  @apply font-main uppercase grunge;
  font-weight: 700;
}

h2 { @apply text-4xl; }
h3 { @apply text-3xl; }
h4 { @apply text-2xl; }
h5 { @apply text-xl; }

@layer base {
  ul, ol {
    list-style: revert;
    padding-left: 1.25rem; /* smaller than the default ~2rem */
  }

	ol {
		list-style: decimal;
	}
}

.markdown table {
	width: 100%;
	border: 1px solid;
}

table {
	width: 100%;
}

th {
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}

td {
	vertical-align: top;
}

thead {
	@apply border-b border-border;
}

hr {
	@apply my-4 mx-12 border-border;
}

.markdown td, .markdown th {
	margin: 0;
	padding: 2px;
}

.flavor {
	/* Scratched screen background */
	@apply relative font-serif text-sm leading-relaxed bg-zinc-900 italic border border-zinc-700 rounded-md p-3 my-2 overflow-hidden;

	background-image: /*radial-gradient(ellipse at top left, rgba(255,255,255,0.02), transparent),
										radial-gradient(ellipse at bottom right, rgba(255,255,255,0.01), transparent),*/
										url('/img/ui/grunge-texture03-dark.webp');
										/*url('/img/ui/mech02.webp');*/
	background-size: cover;
}

.flavor_Off::before {
	/* Scanlines */
	content: '';
	position: absolute;
	inset: 0;
	background: repeating-linear-gradient(
		0deg,
		transparent,
		transparent 2px,
		rgba(255, 255, 255, 0.020) 4px
	);
	pointer-events: none;
}

.flavor_old {
	@apply mx-4 text-base sm:text-base leading-relaxed text-muted font-mono tracking-wide italic border-l-4 pl-4 border-orange-800 rounded-md p-4 shadow-inner;
	background-color: theme('colors.card.DEFAULT');
	font-family: Flavor, serif;
}

.flavor a, .flavor a:link, .flavor a:visited, .flavor a:hover, .flavor a:active {
	color: var(--maincolor);
}

.news a {
	text-decoration: underline;
}

/********/
/* GLOW */
/********/
.glowtext {
	text-shadow: 0 0 10px theme('colors.main.DEFAULT'), 0 0 20px theme('colors.main.DEFAULT');
	mix-blend-mode: unset !important;
	mask-image: unset !important;
	-webkit-mask-image: unset !important;
}

.glowbox {
	outline: none;
	border-color: theme('colors.main.DEFAULT');
	box-shadow: 0 0 15px theme('colors.main.DEFAULT');
}

.glowimage {
	-webkit-filter:
		drop-shadow(1px 0px 0 theme('colors.main.DEFAULT'))
		drop-shadow(-1px 0px 0 theme('colors.main.DEFAULT'))
		drop-shadow(0px 1px 0 theme('colors.main.DEFAULT'))
		drop-shadow(0px -1px 0 theme('colors.main.DEFAULT'));
	filter:
		drop-shadow(1px 0px 0 theme('colors.main.DEFAULT'))
		drop-shadow(-1px 0px 0 theme('colors.main.DEFAULT'))
		drop-shadow(0px 1px 0 theme('colors.main.DEFAULT'))
		drop-shadow(0px -1px 0 theme('colors.main.DEFAULT'));
}

/*********/
/* RULES */
/*********/

.rules h1 {
	@apply text-5xl text-center pt-4;
  color: theme('colors.main.DEFAULT');
	column-span: all;
}
.rules h2 {
	@apply text-3xl text-center pt-2 font-heading;
  color: theme('colors.main.DEFAULT');
}
.rules h3 {
	@apply text-2xl pt-2 font-heading;
  color: theme('colors.main.DEFAULT');
}
.rules h4 {
	@apply text-xl pt-2 font-heading;
}

.unitcard h1, .unitcard h2, .unitcard h3, .unitcard h4, .unitcard h5, .unitcard h6 {
	@apply pt-0
}

.rules hr {
	@apply my-12 mx-12 border-border;
}

.twocols { columns: 2; }
.rules .twocols {
	column-width: 400px;
	text-align: justify;
}

.pve-missions-grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr;
}

@media (min-width: 900px) {
	.pve-missions-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
.section {
	page-break-inside: avoid;
	page-break-before: auto;
}

code {
  color: theme('colors.main.DEFAULT');
}

.printonly { display: none !important; }

/* For images/portraits to show even in print with or without "print backgrounds" enabled */
.printbg {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  forced-color-adjust: none;
}

.icon {
	display: inline-block;
}

/* PRINT STYLES */
@media print {
  :root {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
  }

	@page {
    size: 8.5in 11in !important;
		margin: 0.5in !important;
  }

	body {
		zoom: 66%;
		background-image: url(/img/ui/mech02.png);
		background-size: 12.05in 15.15in;
	}
	
	.noprint {
		display: none !important;
	}

  .printonly {
		display: revert !important;
	}

  .pve-missions-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
	}

  .unitcard {
    /* Tarot vertical 100% dimensions
    width: 2.75in;
    height: 4.75in;
    */
    /* Tarot vertical 50% dimensions
    width: 5.5in;
    height: 9.5in;
    */
    /* Tarot vertical 66% dimensions */
    width: 4.2in;
    height: 7.2in;
    page-break-inside: avoid;
    break-inside: avoid;
  }

	/* Outline weapon icons so they're always visible, with or without "print backgrounds" */
	.icon {
		display: inline-block;
		filter:
			drop-shadow(1px  0 0 black)
			drop-shadow(-1px 0 0 black)
			drop-shadow(0  1px 0 black)
			drop-shadow(0 -1px 0 black);
	}

	/* Special case to NOT print unit cards with fixed size ("Stat Cards" section in core rules) */
	.print-unitcard-fluid .unitcard
	{
		width: unset;
		height: unset;
	}

	.fullpage {
		width: 12.8in;
		height: 15in;
	}

  /* Remove special effects that might interfere with print */
  .flavor::before {
    display: none !important;
  }
	
	.hastip::after {
    display: none !important;
	}

  h1, h2, h3, h4, h5, h6 {
    text-shadow: none !important;
  }

  .markdown {
    text-shadow: none !important;
  }
}
